@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$defaultColor: #d0d0d0;

body {
	margin: 0;
	overflow: hidden;
	font-family: "Open Sans Condensed", sans-serif;  
	background: #000;
	color: $defaultColor;
}

header {
	border-bottom: 1px solid #111;
}

h1 {
	margin: 16px;
}

canvas {
	// flex: none;
	background: #fff;
	border: 1px solid #333;
	cursor: grab;
	&:first-child {
		margin-right: 16px;
	}
}

.canvas-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	// border: 1px solid #666;
	background: #111;
	padding: 16px;
}
